@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hero {
  background-image: url("../public/image/hero.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: bottom;
  height: 650px;
}

iframe {
  width: 700px;
  height: 500px;
}

.footer-head {
  @apply text-lg border-b-2 mr-24  border-secondary mb-4;
  @apply md:mt-2 mt-10;
}

.footer-li {
  @apply my-1;
}

@media (max-width: 768px) {
  .hero {
    height: 400px;
  }

  iframe {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 500px) {
  iframe {
    width: 350px;
    height: 175px;
  }
}
